@model IEnumerable<SpartaConnect_API.Models.Consultant>

@{
    ViewData["Title"] = "Index";
}

<h1>Consultants</h1>
@using (Html.BeginForm("Index", "Consultants", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
}





<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 20px 16px;
        margin: 4vh 0 0 3vw;
        width: 60%;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
    }

    .container {
        padding: 20px 16px;
        margin-left: 20px;
    }

    .content-main{
        list-style-type: none;      
    }
    .content-item{
        font-size: 1.3em;
        margin-bottom: 9px;
        margin-left :-71px;
        margin-top : 18px;
    }

     .content-item2{
        font-size: 1.3em;
        margin-bottom: 9px;
        margin-left :-56px;
        margin-top : 10px;
        word-wrap:break-word;
        float:right; 
     }


    .images{
        transform : rotate(90deg);
    }

    
    .header2{
        margin-right: 223px;
        float: right;
        margin-top: -483px;
    }


   

    
</style>




        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No Match To Any Documents
                </td>

            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                string imagePath = $"img/{item.FirstName}_{item.LastName}.jpg"; 
                
                
                <div class="card">


                    <div class="div1">

                        <h4 class="header1">
                            <b>
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.LastName)
                            </b>
                        </h4>

                        <img src=@imagePath alt="4" width="200" height="200" class="images" />

                        <div class="container">
                            <ul class="content-main">

                                <li class="content-item">
                                    University: @Html.DisplayFor(modelItem => item.University)
                                </li>
                                <li class="content-item">
                                    Degree: @Html.DisplayFor(modelItem => item.Degree)
                                </li>
                                <li class="content-item">
                                    Grade: @Html.DisplayFor(modelItem => item.Grade)
                                </li>
                                <a href="@Html.DisplayFor(modelItem => item.CvLink) + &download=1">
                                    <li class="content-item">CV Download</li>
                                </a>

                            </ul>
                        </div>


                        <div class="div2">

                            <h4 class="header2">
                                <b>
                                    Bio
                                </b>
                            </h4>

                            <div class="container">

                                <ul class="content-main">
                                    <li class="content-item2">
                                       @Html.DisplayFor(modelItem => item.Bio)
                                    </li>
                                </ul>

                            </div>

                        </div>


                    </div>



                    

                     
                
                   



                    


                    
                </div>
            }
        }

    

